@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Stencil+Text:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Stencil+Text:wght@100..900&family=Big+Shoulders+Text:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 210vh;
    background-color: #0c0c0c;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #0c0c0c;
}

body::-webkit-scrollbar-thumb {
    background: #2e2e2e;
    border-radius: 20px;
}

/* Background css */
.background {
    position: absolute;
    z-index: -1000;
    display: flex;
}

.block-1 {
    z-index: -1000;
    width: 12vw;
    height: 100vh;
    border-right: .5px solid #333333;
    border-bottom: .5px solid #333333;
    border-top: .5px solid #333333;
}

.block-2 {
    z-index: -1000;
    width: 25.3vw;
    height: 100vh;
    border-right: .5px solid #333333;
    border-bottom: .5px solid #333333;
    border-top: .5px solid #333333;
}

.head-holder {
    position: relative;
    display: flex;
    justify-content: center;
}

.element {
    width: 320px;
    position: absolute;
    z-index: 100;
    animation: reveal 1.2s;
}

.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    height: 80px;

}

.nav-left {
    display: flex;
    align-items: center;
    padding-left: 200px;
    gap: 20px;
    font-family: "Big Shoulders Text", sans-serif;
    font-weight: 500;
}

.nav-right {
    display: flex;
    align-items: center;
    padding-right: 200px;
    gap: 20px;
    font-family: "Big Shoulders Text", sans-serif;
    font-weight: 400;
}

nav ul li {
    list-style: none;
}

.nav-bar .nav-left li:nth-child(1) {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.fadedown {
    animation: fade-down .8s;
}

.heading {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    font-size: 260px;
    letter-spacing: -4px;
    text-align: center;
    line-height: 100%;
    margin-top: 220px;
    margin-bottom: 20px;
    color: #ffffff;
    z-index: -1;
    animation: fade-up 1s;
}

.btn {
    width: 163px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-weight: 700;
    font-family: "Big Shoulders Stencil Text", sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: .5s;
    animation: fade-up 1.1s;
}

.btn:hover {
    background-color: #ffffff;
    color: #0c0c0c;
}

/* about section css-------------------------------- */

.about-section {
    width: 80%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about-left {
    width: 30vw;
    height: 500px;
    color: #ffffff;
    margin-left: 0;
    margin-right: 0;
    /* margin-left: 15%; */
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    /* justify-content: space-between; */
    /* animation: fade-in-left both;
    animation-timeline: view(40% 30%); */
}

.about-heading {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 60px;
    animation: fade-in-left both;
    animation-timeline: view();
}

.about-des {
    font-family: "Big Shoulders Text", sans-serif;
    font-size: 22px;
    line-height: 170%;
    letter-spacing: 1px;
    /* margin-left: 10px; */
    margin-bottom: 50px;
    animation: fade-in-left both;
    animation-timeline: view();
}

.btn-2 {
    width: 163px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-weight: 700;
    font-family: "Big Shoulders Stencil Text", sans-serif;
    margin-left: 0px;
    animation: fade-in-left both;
    animation-timeline: view();
}

.about-right {
    width: 30vw;
    height: 500px;
    border-radius: 20px;
    position: relative;
    background-color: #a0a0a0;
    margin-right: 0;
    margin-left: 0;
    animation: fade-in-right both;
    animation-timeline: view();
}

.about-right img {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}


/* video section --------------------------------------*/

.video-section {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
}

.gif {
    margin: 50px auto 50px auto;
    width: 70%;
    height: max-content;
}

.gif img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


/* introduction section ----------------------------------- */

.introduction {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #cecece;
}

.introduction .left-content img {
    width: 800px;
    /* filter: drop-shadow(10px 10px 10px  #ffffff);  */
}

.introduction .right-content {
    font-size: 30px;
    font-family: "Big Shoulders Stencil Text", sans-serif;
    letter-spacing: -4px;
    margin: 0 auto;
}

span {

    font-size: 125px;
    font-family: "Big Shoulders Stencil Text", sans-serif;
    letter-spacing: -4px;
}


.why-human-form {
    overflow: hidden;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
    margin: 0 auto;
}

.why-human-form .left-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Big Shoulders Text", sans-serif;
margin-bottom: 0;
}

.why-human-form .left-content h3 {
    font-size: 22px;
    color: #a0a0a0;
}

.why-human-form .left-content h1 {
    font-size: 55px;
    font-weight: 600;
    color: #ffffff;
}

.why-human-form .right-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.why-human-form .right-content h3 {

    font-family: "Big Shoulders Text", sans-serif;
    color: #cecece;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
    animation: fade-in-right both;
    animation-timeline: view();
}


/* humanoid in action -------------------------*/

.humanoid-in-action {
    width: 100%;
    font-family: "Big Shoulders Text", sans-serif;
}

.humanoid-in-action h1 {
    font-size: 125px;
    color: #ffffff;
    padding-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.humanoid-in-action h3 {
    font-size: 30px;
    text-align: center;
    color: #a0a0a0;
}

.movement-parts {
    width: 90%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.movement-parts img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.humanoid-in-action h2 {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    cursor: pointer;
}


/* footer css -----------------------------------------*/

.footer {
    width: 100%;
    height: 600px;
    margin-top: 200px;
    background-color: #cecece;
    display: flex;
    flex-direction: row;
    font-family: "Big Shoulders Text", sans-serif;
}

.footer-left {
    width: 40%;
    height: 300px;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid red; */
}

.footer-left h1 {
    font-size: 125px;

}

.footer-left h4 {
    font-size: 22px;

}

form {
    width: 80%;
    display: flex;
    border-radius: 30px;
    background: #ffffff;
}

input[type=text],
select {
    width: 70%;
    padding: 10px;
    margin: 8px 3%;
    display: inline-block;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 40%;

    color: white;
    padding: 14px 20px;
    margin: 8px 3%;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #0c0c0c;
}

.footer-right {
    width: 50%;
    height: 300px;
    margin-left: 50px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-right h2 {
    font-size: 26px;
    cursor: pointer;
}

.footer-right h2 i {
    transition: .5s;
}

.footer-right h2:hover i {
    transform: translateX(10px);
}

.footer-right .social-media {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.footer-right .social-media i {
    line-height: 100%;
}

.footer-right .bottom-nav {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid #0c0c0c;
    padding: 10px 0;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .element {
        width: 250px;
    }

    .nav-bar {
        display: none;
    }

    .heading {
        font-size: 80px;
        margin-top: 60vh;
    }

    /* about section css-------------*/
    .about-section {
        margin-top: 150px;
        flex-direction: column;
    }

    .about-left {
        width: 80vw;
        height: max-content;
        margin-bottom: 80px;
    }

    .btn-2 {
        height: 50px;
    }

    .about-right {
        width: 80vw;
        height: 400px;
        margin-right: auto;
        margin-left: auto;
    }

    /* video section----- */
    .video-section {
        padding-top: 150px;
        padding-bottom: 50px;
    }

    .gif {
        margin: 50px auto 50px auto;
        width: 90%;
        height: max-content;
    }

    .gif img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    /* introduction section */
    .introduction {
        flex-direction: column;
    }

    .introduction .left-content img {
        width: 100%;
    }

    .introduction .right-content {
        font-size: 20px;
        margin-bottom: 50px;
    }

    span {
        font-size: 80px;
    }

    /* why human form */
    .why-human-form {
        width: 100%;
        flex-direction: column;
    }

    .why-human-form .left-content {
        width: 90%;
        margin-bottom: 50px;
    }
    .why-human-form .right-content{
        width: 90%
    }

    /* humanoid in action */
    .humanoid-in-action h1{
        font-size: 80px;
    }
    .humanoid-in-action h3 {
        font-size: 20px;
    }
    .movement-parts {
        width: 100%;
    }
    .movement-parts img{
        width: 90%;
        height: 90%;
    }

    /* footer css */
    .footer {
        width: 100%;
        height: 900px;
        flex-direction: column;
    }
    .footer-left{
        width: 100%;
        height: auto;
        margin-left: 20px;
    }
    .footer-left h1{
        font-size: 80px;
    }
    .footer-right{
        width: 100%;
        margin-left: 20px;
    }
}























/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    ...
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    ...
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    ...
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    ...
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    ...
}